# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/
# Site
title: 悔恨自己的博客
subtitle:
  - 悔恨自己
  - 心情日记
  - hhzj的博客
description: '哒哒我对不起你 悔恨自己 心情日记 hhzj的博客'
keywords:
  - 哒哒我对不起你
  - 悔恨自己
  - 心情日记
  - hhzj的博客
  - 悔恨的活着
author: John Doe
language: zh-CN
timezone: ''

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://hhzj.hair
permalink: :title.htm
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY年MM月DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: 
## Themes: 
theme: hexo123

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repository: git@github.com:JTSTV/jtstv.github.io.git
  branch: master
# hexo-htmlnano-mini 配置
htmlnano:
  enable: true          # 是否启用插件（生产环境建议开启）
  enableInDev: false    # 是否在本地开发模式下启用（建议关闭，方便调试）
  html:                 # HTML 压缩选项
    collapseWhitespace: true
    minifyCSS: true
    minifyJS: true
  css:                  # CSS 压缩选项（可选）
    level: 2
  js:                   # JS 压缩选项（可选）
    minify: true

# sitemap 配置
sitemap:
  path: source/sitemap.xml # 生成的文件名和路径
  # route: source/sitemap.xml # 访问路径，通常不需要修改
  # tag: false  # 是否在 sitemap 中包含 tag 页面，默认 true
  # category:  false  # 是否在 sitemap 中包含 category 页面，默认 true
