<header id="header">
<div id="banner"></div>
<div id="header-outer" class="outer">
<div id="header-title" class="inner"><a href="<%- url_for() %>"        id="logo">
<%= config.title %></a></div>
<div id="header-inner" class="inner"></div>
</header>
